.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    height: 600px;
    width: 500px;
    background: rgb(163, 73, 22, 0.7);
    padding-bottom: 10px;
    border-radius: 10%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.underline {
    width: 45px;
    height: 10px;
    background: rgb(51, 45, 134);
    border-radius: 50%;
}

.inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 280px;
    height: 40px;
    background: white;
    border-radius: 100px;
}

.input input {
    height: 40px;
    width: 999px;
    padding-left: 10px;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    border-radius: 100px;
}

.forgot-password {
    padding-left: 60px;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.forgot-password span {
    color: blue;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 50px;
    color: black;
    background: gray;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.already-have-account {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    padding-top: 20px;
    color: white;
}

.already-have-account span {
    cursor: pointer;
    color: blue;
    padding-left: 10px;
    font-weight: bold;
    font-size: larger;
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {}
    10% {
        transform: rotateX(90deg);
    }
}

.white {
    color: white;
}